:root {
    --dark-blue: #1C6483;
    --medium-blue: #307C9C;
    --light-blue: #C7E9F4
}

body {
    background-color: var(--light-blue);
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

#home {
    height: 100vh;
}

a, a:hover, a:focus, a:active {
    color: inherit;
}


.circle {
    position: absolute;
    background-color: var(--medium-blue);
    border-radius: 50%;
}

#circle-1 {
    top: -25vmin;
    left: -20vmin;

    width: 125vmin;
    height: 125vmin;
}

#circle-2 {
    left: 110vmin;
    top: 5vmin;

    width: 50vmin;
    height: 50vmin;

    opacity: 0.75;
}

#circle-3 {
    width: 75vmin;
    height: 75vmin;
    left: 90vmin;
    top: 70vmin;

    opacity: 0.5;
}

#sidebar {
    position: fixed;
    right: 0;
    top: 0;

    width: 400px;
    height: 100%;

    background-color: white;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 32px;
    /* border-bottom-left-radius: 32px; */
}

#title {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 5vmin;
    margin: auto;
    height: min-content;
    font-weight: 800;
    width: 40vw;

    z-index: 100;

    color: white;
}

#title-header {
    font-size: 10vmin;
}

#title-description {
    font-size: 5vmin;

    height: 15vmin;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    cursor: pointer;
}

#title-button {
    font-family: 'Mulish', sans-serif;
    border-radius: 16px;
    color: var(--medium-blue);
    background-color: white;

    padding: 12px 16px;

    font-size: 3vmin;
    font-weight: 800;

    cursor: pointer;

    border: none; 

    margin-top: 1.5vmin;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

#sidebar-back {
    cursor: pointer;
}

#sidebar-header {
    padding: 16px 32px;
    font-size: 5vmin;
    font-weight: 700;
    color: white;

    background-color: var(--dark-blue);
    border-top-left-radius: 32px;
}

#sidebar-libraries {
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    overflow: auto;
}

.library {
    position: relative;

    border-left-style: solid;
    border-left-color: var(--medium-blue);
    border-left-width: 4px;
    color: var(--medium-blue);
    padding-left: 8px;

    cursor: pointer;

    font-size: 2.5vmin;
    font-weight: 600;

    min-height: min-content;

    display: flex;
    justify-content: space-between;
}

.library-name {
    font-size: 3vmin;
    font-weight: 700;
}

.library-drop {
    font-size: 5vmin;
    font-weight: 600;
}
.library-times-ranges {
    padding-left: 16px;
    font-size: 2vmin;
    font-weight: 600;
}
.library-location {
    text-decoration: underline;
    font-weight: 700
}

@media (orientation: portrait) {
    body {
        overflow: auto;
    }
    #home {
        overflow: hidden;
    }
    #circle-3 {
        top: unset;
        bottom: -30vmin;
        left: unset;
        right: -30vmin;
    }
    #circle-2 {
        left: unset;
        right: -80vmin;
        top: -70vmin;
        height: 125vmin;
        width: 125vmin;
    }
    #circle-1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -60vw;
        width: 150vmin;
        height: 150vmin;
        margin: auto;
    }
    #home {
        position: relative;
        height: 100vh;
        overflow-x: hidden;
    }
    #title {
        left: 0;
        right: 0;
        width: 90vw;
    }
    #sidebar-header {
        border-top-left-radius: 0;
        padding: 16px;
        font-size: 6vw;
    }
    #sidebar {
        border-top-left-radius: 0;
        position: relative;
        width: 100%;
        min-height: 100vh;
    }
    .library {
        font-size: 3.5vw;
    }
    .library-name {
        font-size: 5vw;
    }
    
    .library-drop {
        font-size: 7.5vw;
    }
    .library-times-ranges {
        font-size: 3vmin;
    }
}
