:root {
    --dark-blue: #1C6483;
    --medium-blue: #307C9C;
    --light-blue: #C7E9F4
}

body {
    background-color: var(--light-blue);
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
}

a, a:hover, a:focus, a:active {
    color: inherit;
}


.circle {
    position: absolute;
    background-color: var(--medium-blue);
    border-radius: 50%;
}

#circle-1 {
    top: -25vh;
    left: -20vh;

    width: 125vh;
    height: 125vh;
}

#circle-2 {
    left: 110vh;
    top: 5vh;

    width: 50vh;
    height: 50vh;

    opacity: 0.75;
}

#circle-3 {
    width: 75vh;
    height: 75vh;
    left: 90vh;
    top: 70vh;

    opacity: 0.5;
}

#sidebar {
    position: fixed;
    right: 0;
    top: 0;

    width: 400px;
    height: 100%;

    background-color: white;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 32px;
    /* border-bottom-left-radius: 32px; */
}

#title {
    position: absolute;
    top: 44%;
    left: 20%;
    font-weight: 800;

    color: white;
}

#title-header {
    font-size: 10vh;
}

#title-description {
    font-size: 5vh;

    height: 15vh;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    cursor: pointer;
}

#title-button {
    font-family: 'Mulish', sans-serif;
    border-radius: 16px;
    color: var(--medium-blue);
    background-color: white;

    padding: 12px 16px;

    font-size: 3vh;
    font-weight: 800;

    cursor: pointer;

    border: none; 

    margin-top: 1.5vh;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

#sidebar-back {
    cursor: pointer;
}

#sidebar-header {
    padding: 16px 32px;
    font-size: 5vh;
    font-weight: 700;
    color: white;

    background-color: var(--dark-blue);
    border-top-left-radius: 32px;
}

#sidebar-libraries {
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    overflow: auto;
}

.library {
    position: relative;

    border-left-style: solid;
    border-left-color: var(--medium-blue);
    border-left-width: 4px;
    color: var(--medium-blue);
    padding-left: 8px;

    cursor: pointer;

    font-size: 2.5vh;
    font-weight: 600;

    min-height: min-content;

    display: flex;
    justify-content: space-between;
}

.library-name {
    font-size: 3vh;
    font-weight: 700;
}

.library-drop {
    font-size: 5vh;
    font-weight: 600;
}

.library-popularity {
    font-size: 2.5vh;
    font-weight: 600;
}

.library-times-title {
    
}
.library-times-ranges {
    padding-left: 16px;
    font-size: 2vh;
    font-weight: 600;
}
.library-location {
    text-decoration: underline;
    font-weight: 700
}